body{
    background-image: url("background.jpg");
}
.heading{
    font-size: 24px !important;
    width: 70%;
    text-align: center;
    margin: 0px;
    box-shadow: 6px 6px 18px grey;
    border-radius: 20px !important;
}
.heading_div{
    font-size: 18px;
    float: none;
    width: 100%;
    text-align: center;
    background-color: yellowgreen;
    border-radius: 15px;
    color: red;
    box-shadow: 4px 4px 18px black;
    padding: 10px;
}
footer{
    background-color: grey;
    color: whitesmoke;
    position: fixed;
    bottom: 0;
    width: 50%;
    line-height: 2.3;
    text-align: center;
    margin-left: 360px;
    margin-bottom: 8px;
    border-radius: 8px;
}
.result_para_tag{
    box-shadow: 4px 4px 12px grey;
    font-size: 18px;
}

canvas{
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 10px grey;
    margin-top:150px;
    margin-left: 10px;

}